backup
airsonic-config
unifi
traefik/acme
monitoring/prom/master
monitoring/grafana
monitoring/influxdb
hass-config/custom_components/
hass-config/www/
hass-config/tts/
erlite-backups
whisper-data
piper-data
matter
minidlna
music-assistant
unifi-network-controller
open-webui
goatcounter
plex
gonic
